<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../Assets/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Team</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Develop/overrides.css">
</head>

<body>
  <div class="container-fluid">
    <h1 class="display-4 initialism" id='yourTeam'>Your Team</h1>
    <div class=" jumbotron">
      <div class="btn-lg row container " id='teamCards'>{{{data}}}</div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>